{% extends 'layouts/default/page.html' %}
{% block content %}

<div class="container">
    <form  action="{% url 'trader:add_automation' %}" method="post">
    <table border="1" cellpadding="5" cellspacing="5" width="100%" class="table table-striped table-hover table-sm">

        <tr>
          <td>
            <h3>Portfolio Size</h3>
          </td>
          <td>
            <h3>Risk Level</h3>
          </td>

        </tr>

        <tr>
          <td>
            <input type="text" name="" value="{{ sheet.portfolio_size }}">
          </td>

          <td>
            <select class="form-control" name="risk_level">
              <option value="low" selected>Low</option>
              <option value="medium">Medium</option>
            </select>
          </td>

        </tr>

        <tr>
             <td>Stock</td>
             <td>
               <select class="form-control" name="stock_name">
                 <option value="SNAP" selected>SNAP</option>
                 <option value="GE">GE</option>
                 <option value="BAC" selected>BAC</option>
                 <option value="SPY">SPY</option>
                 <option value="JPM" selected>JPM</option>
                 <option value="SQ">SQ</option>
                 <option value="FB" selected>FB</option>
                 <option value="AAPL">AAPL</option>
               </select>
             </td>
        </tr>
        <tr>
             <td>
               Expiration Call
             </td>
             <td>
               <input type="text" name="expiration_call" value="{{ sheet.expiration_call }}">
             </td>
        </tr>
        <tr>
            <td>Strike Call</td>
            <td>
              <input type="text" name="strike_call" value="{{ sheet.strike_call }}">
            </td>
        </tr>
        <tr>
            <td>Expiration Put</td>
            <td>
              <input type="text" name="expiration_put" value="{{ sheet.expiration_put }}">
            </td>
        </tr>

        <tr>
            <td>Strike Put</td>
            <td>
              <input type="text" name="strike_put" value="{{ sheet.strike_put }}">
            </td>
        </tr>

        <tr>
            <td>10 year yield</td>
            <td>
              <input type="text" name="ten_years_yield" value="{{ sheet.ten_years_yield }}">
            </td>
        </tr>

        <tr>
            <td>Time Exp.</td>
            <td>
              <input type="text" name="time_exp" value="{{ sheet.time_exp }}">
            </td>
        </tr>

        <tr>
             <td>Opt. % Diff</td>
             <td>
               <input type="text" name="opt_diff" value="{{ sheet.opt_diff }}">
             </td>
        </tr>

        <tr>
             <td># of Contracts</td>
             <td>
               <input type="text" name="num_of_contracts" value="{{ sheet.num_of_contracts }}">
             </td>
        </tr>

        <tr>
             <td>Long Threshold</td>
             <td>
               <input type="text" name="long_threshold" value="{{ sheet.long_threshold }}">
             </td>
        </tr>

        <tr>
             <td>Short Threshold</td>
             <td>
               <input type="text" name="short_threshold" value="{{ sheet.short_threshold }}">
             </td>
        </tr>

        <tr>
          <td>
              {% csrf_token %}
              <input class="btn  n btn-primary" type="submit" name="addsheet" value="Add Automation">
          </td>

          <td>
            {% csrf_token %}
              <input class="btn btn-success" type="submit" name="update_sheet" value="Update Values">
          </td>

        </tr>
        </table>
    </form>
</div>

{% endblock %}
