@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: Acme, Arial, sans-serif;
}

.table_thead{
 background: #212529 !important;
  color: white !important;
}
